* {margin:0;padding:0}
::-webkit-scrollbar{width:8px;background-color:#aaa}
::-webkit-scrollbar-thumb{background-color:#000;border-radius:5px}
::selection{background:#222;color:#fff}
::-moz-selection{background:#222;color:#fff}
body, html {scroll-behavior:smooth}
body {font-family: 'Roboto',sans-serif;font-size:16px;color:#222;line-height:1.8}
.font-medium {font-weight:500}

@font-face {font-family: 'icomoon';src:url('../fonts/icomoon.eot?wv86k9');src:url('../fonts/icomoon.eot?wv86k9#iefix') format('embedded-opentype'),url('../fonts/icomoon.ttf?wv86k9') format('truetype'),url('../fonts/icomoon.woff?wv86k9') format('woff'),url('../fonts/icomoon.svg?wv86k9#icomoon') format('svg');font-weight: normal;font-style: normal;font-display: block}
.icon {font-family:'icomoon' !important;speak:never;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon.facebook:before {content: "\ea91"}
.icon.instagram:before {content: "\ea92"}
.icon.twitter:before {content: "\ea96"}
.icon.youtube:before {content: "\ea9d"}
.icon.linkedin:before {content: "\eac9"}

@media (min-width:1400px) {.container {max-width:1150px}}

section {position:relative}
.anchorTrigger {width:100%;position:absolute;top:-56px}

.wrapper {overflow:hidden;width:100%}

.bannerSection {width:100%;height:auto;max-height:700px;min-height:400px;background:#ccc;position:relative;overflow:hidden}
.bannerSection .bannerImg {width:100%;height:auto;min-height:400px;object-fit:cover;object-position:center bottom}

.logoBox {position:absolute;top:50px;right:70px}

.timerSection {margin-top:-130px;position:relative}
.timerContainer {width:100%;max-width:450px}
.timerBadge {width:230px;height:30px;background:#f41147;font-size:14px;line-height:30px;margin-bottom:-15px;position:relative;z-index:2}
.timerClock {padding:30px 25px 20px;background:#383838;border-radius:25px;border:5px solid #fff;box-shadow:0 3px 10px rgba(0,0,0,.3)}
.timerCount {height:48px;font-size:40px;line-height:1.2;font-weight:500}
.timerBox .col:not(:first-child):before {content:':';position:absolute;left:-3px;font-size:36px;line-height:1.2}

.pageHeader {margin-top:50px}

.intructTitle {font-size:24px;font-weight:500;margin-bottom:10px}

.navingContainer {height:54px}
.navig {min-height:54px;background:#fff;padding:0;position:relative;top:0;transition:all .2s ease}
.navig.stick {position:fixed;left:0;right:0;top:0;width:auto;box-shadow:0 3px 5px rgba(0,0,0,.1);z-index:100}

.menu {margin:0;background:#fff}
.menu li {padding:0 30px}
.menu a {font-size:14px;line-height:1;color:#222;text-transform:uppercase;text-decoration:none;display:block;position:relative;padding:20px 3px}
.menu a:hover {color:#f41147}
.menu li a.active {color:#f41147;font-weight:500}
.menu li a:after {width:0%;height:4px;display:block;background:#f41147;content:'';position:absolute;bottom:0;left:0;right:0;margin:auto;transition:all .3s .4s ease}
.menu li a.active:after {width:100%;}

.graySection {background:#f6f6f6}

.productTitle {background:#f0f0f0;position:relative}
.productTitle:after {content:'';width:0;height:0;border-top:20px solid #f0f0f0;border-left:20px solid transparent;border-right:20px solid transparent;display:block;position:absolute;top:100%;left:0;right:0;margin:auto}
.prodHead {font-weight:500;font-size:36px;margin-bottom:5px}
.prodofferTxt {font-size:18px;font-weight:700;color:#f41147}

.price:before {content:'\20B9'}
.strike {text-decoration:line-through}
.pinkBtn {width:200px;height:50px;line-height:50px;background:#f41147;border:0;color:#fff;font-size:14px;text-transform:uppercase;transition:all .3s ease}
.pinkBtn:hover {background:#ca0a28}

.prodHolder {border:1px solid #eeeeee;padding:15px;transition:all .5s ease}
.prodHolder:hover {box-shadow:0 10px 30px rgba(0,0,0,.1)}
.prodImgBox {max-width:250px;margin:0 auto 10px}
.prodImg {}
.prodName h2 {font-size:18px;font-weight:300;text-transform:uppercase;margin-bottom:20px}
.prodPrices {}
.prodOfferPrice {font-size:30px;font-weight:700;line-height:1.1;border-right:1px solid #c3c3c3}
.prodOfferPrice small {font-size:12px;}
.prodRealPrice {font-size:14px;line-height:1.6;color:#595959}
.prodRealPrice .savePrice {color:#f41147}
.prodVdBtn {font-size:12px;text-decoration:underline;color:#666;margin-bottom:15px;padding:0 10px;display:inline-block;transition:all .3s ease}
.prodVdBtn:hover {color:#fff;text-decoration:none;background:#333}
.prodVdBtn:after {content:'';display:block;position:absolute;bottom:0;left:0;right:0;top:0}

.prodHolderBig {overflow:hidden}
.prodImgBoxBig .prodImg {object-fit:cover;object-position:center}
.prodInfoBig {width:100%;background:#fff;border:1px solid #eeeeee;padding:80px;position:relative}
.prodBrief {font-size:14px;position:relative}
.prodHolderBig .prodName h2 {font-size:24px}
.prodHolderBig .prodVdBtn {margin-left:-10px}
.prodHolderBig .prodVdBtn:hover {margin-left:0}


.prodBox.selected {border:1px solid #f41147}
.prodselectBtn .noSelectTxt {}
.prodselectBtn .selectedTxt, .prodBox.selected .noSelectTxt {display:none}
.prodBox.selected .prodselectBtn .selectedTxt {display:block}
.prodselectBtn .selectedTxt img {width:16px;height:16x;margin-right:8px}


.formSection {background:url(../images/formBg.jpg) no-repeat center center fixed;background-size:cover}

.formSide {border-right:1px solid #989898}

.contactForm {width:100%;max-width:400px}
.contactForm .form-control {height:50px;border-color:#aaa}
.contactForm .fieldLabel {font-size:12px;color:#fff;background:#999;display:block;float:left;margin:0 0 -10px 10px;padding:0 10px;text-transform:uppercase;}

.contactForm .custom-control-label::before {position:absolute;top:.25rem;left:-1.5rem;display:block;width:18px;height:18px;pointer-events:none;content:"";background-color:#fff;border:1px solid #999}
.contactForm .custom-control-label::after {position:absolute;top:.25rem;left:-1.5rem;display:block;width:18px;height:18px;content:"";background:50%/50% 50% no-repeat}
.contactForm .custom-control-input:checked~.custom-control-label::before {color:#fff;border-color:#aaa;background-color:#f41147}

.selectedSide {margin-left:70px}


.selectedList li {list-style:none;display:inline-block;padding:3px 3px 3px 10px;margin:0 5px 0 0;border:1px solid #aaa;background:#fff;font-size:14px;overflow:hidden}
.selectedList button {border:0;background:#fff;line-height:20px;padding:0;margin:3px 0 3px 5px;font-size:18px;width:20px;height:20px}
.selectedList button:hover {background:#eee}

.totalPrices {font-size:30px;font-weight:700;line-height:1.4;color:#000;text-shadow:0 0 5px #fff}
.totalPrices small {font-size:12px}
.totalPrices > div:first-child:after {width:1px;height:100%;content:'';display:block;position:absolute;top:0;right:0;background:#333;transform:rotate(15deg);}


@media (max-width:1399.98px) {
.prodInfoBig {padding:30px}
}

@media (max-width:1199.98px) {
.menu li {padding:0 20px}
.prodHolder {padding:15px  0}
.selectedSide {margin-left:30px}
}

@media (max-width:991.98px) {
.menu li {padding:0 8px}
.timerSection {margin-top:-25px}
.formSide {border-right:0;border-top:1px solid #989898}
.selectedSide {margin-left:0}
}

@media (max-width:767.98px) {
.navig {position:fixed;left:0;right:0;top:0;width:auto;box-shadow:0 3px 5px rgba(0,0,0,.1);z-index:100}

.menuBtn {width:100%;height:54px;border:0;background:transparent;position:absolute;top:0;left:0;font-size:12px;z-index:1}
.menuBtn:after {content:'\25BC';width:30px;height:30px;background:#eee;border-radius:50%;position:absolute;top:10px;right:10px;font-size:12px;line-height:30px}

.menu {margin:0;border-top:1px solid #ccc;width:100%;height:100%;display:block;text-align:center}
.menu li {padding:0;margin:0;display:block}
.menu a {font-size:14px;line-height:1;color:#222;text-transform:uppercase;text-decoration:none;display:none;position:relative;padding:20px 3px}
.menu a:hover {color:#f41147}
.menu li a.active {color:#f41147;font-weight:500;display:block!important}
.menu li a:after {display:none}
}

@media (max-width:575.98px) {
.logoBox {position:absolute;top:30px;right:30px;width:100px}
.timerSection {}
.timerContainer {width:94%}
.timerClock {padding:30px 20px 20px;border-radius:20px;border:3px solid #fff;font-size:12px}
.timerCount {height:30px;font-size:30px;line-height:1.2;font-weight:500}
.timerBox .col:not(:first-child):before {font-size:25px}
.timerBox .col {padding-left:10px;padding-right:10px}

.intructTitle {font-size:20px}
.prodHead {font-size:30px}
}

@media (min-width:992px) {	
.prodBigContainer {width:100%;max-width:none;padding:0}
.prodInfoBig {max-width:575px}
.selectedList {min-height:110px}
}





.gboBtn {width:100px;height:100px;background:#f41147;color:#fff;position:fixed;right:20px;bottom:50px;border-radius:50%;border:0;box-shadow:0 5px 10px rgba(0,0,0,.5);font-size:18px;font-weight:500;line-height:1.4;padding:10px;text-transform:uppercase}
.gboBtn small {font-size:11px}

.acpopClose.close {position:absolute;top:0;right:0;width:30px;height:30px;z-index:10;background:#111;border-bottom-left-radius:5px}

.bottomFoot {border-top:1px solid #333}

.socialBtns a {font-size:22px;color:#222;display:inline-block;margin:0 5px;text-decoration:none;transition:all .3s ease;width:22px;height:22px;line-height:1}
.socialBtns a:hover {color:#f41147}

.animateThis {position:relative;will-change:opacity transform}
.slide-left {opacity:0;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;-moz-transform: translate3d(50px, 0px, 0px);-webkit-transform: translate3d(50px, 0px, 0px);-o-transform: translate(50px, 0px, 0px);-ms-transform: translate(50px, 0px, 0px);transform: translate3d(50px, 0px, 0px)}
.slide-left.in-view {opacity: 1;-moz-transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-o-transform: translate(0px, 0px, 0px);-ms-transform: translate(0px, 0px, 0px);transform: translate3d(0px, 0px, 0px)}
.slide-right {opacity:0;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;-moz-transform: translate3d(-50px, 0px, 0px);-webkit-transform: translate3d(-50px, 0px, 0px);-o-transform: translate(-50px, 0px, 0px);-ms-transform: translate(-50px, 0px, 0px);transform: translate3d(-50px, 0px, 0px)}
.slide-right.in-view {opacity: 1;-moz-transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-o-transform: translate(0px, 0px, 0px);-ms-transform: translate(0px, 0px, 0px);transform: translate3d(0px, 0px, 0px)}
.slide-top {opacity:0;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;-moz-transform: translate3d(0px, 50px, 0px);-webkit-transform: translate3d(0px, 50px, 0px);-o-transform: translate(0px, 50px, 0px);-ms-transform: translate(0px, 50px, 0px);transform: translate3d(0px, 50px, 0px)}
.slide-top.in-view {opacity: 1;-moz-transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-o-transform: translate(0px, 0px, 0px);-ms-transform: translate(0px, 0px, 0px);transform: translate3d(0px, 0px, 0px)}
.fade-in {opacity:0;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease}
.fade-in.in-view {opacity:1}